<a href="https://colab.research.google.com/github/monda00/horse-race-notebook/blob/master/horse_race_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# netkeibaでスクレイピングしたデータのEDA

- 準備
- ライブラリ・データ読み込み
- データの概観・分析

# 準備

## ドメイン知識

- あがり
  - レースや調教の終盤の走破タイム

## データ

- 2019年から2020年までのレースデータ

# ライブラリ・データ読み込み

In [1]:
import numpy as np
import pandas as pd

In [2]:
DATA_PATH = '/content/drive/My Drive/data/horse-race/'

In [3]:
race_df = pd.read_csv(DATA_PATH + 'race.csv')
horse_df = pd.read_csv(DATA_PATH + 'horse.csv')

In [4]:
race_df.head()

  clockwise       date  distance  ... race_round start_time weather
0         右  2020/6/22      1400  ...        12R      20:50       雨
1         右  2020/6/22      1800  ...        11R      20:10       雨
2         右  2020/6/22      1200  ...        10R      19:30       雨
3         右  2020/6/22      1400  ...         9R      18:55       雨
4         右  2020/6/22      1600  ...         8R      18:20       雨

[5 rows x 11 columns]

In [5]:
horse_df.head()

   agari age  frame_number  horse_number  ... rank    time weight   win
0   38.1  牡3           7.0            13  ...    1  1:28.5   54.0   3.7
1   38.1  牝5           6.0            11  ...    2  1:28.7   54.0  81.4
2   38.6  セ6           3.0             4  ...    3  1:28.8   56.0   8.6
3   37.9  牡4           8.0            14  ...    4  1:28.8   56.0  34.4
4   38.5  牝5           4.0             7  ...    5  1:28.9   54.0  34.8

[5 rows x 15 columns]

# データの概観・分析

In [6]:
race_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27532 entries, 0 to 27531
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   clockwise        27532 non-null  object
 1   date             27532 non-null  object
 2   distance         27532 non-null  int64
 3   field_condition  25100 non-null  object
 4   field_type       25100 non-null  object
 5   name             27532 non-null  object
 6   place            27532 non-null  object
 7   race_id          27532 non-null  object
 8   race_round       27532 non-null  object
 9   start_time       26755 non-null  object
 10  weather          26690 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.3+ MB

In [7]:
horse_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293006 entries, 0 to 293005
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   agari         264082 non-null  float64
 1   age           293005 non-null  object
 2   frame_number  290217 non-null  float64
 3   horse_number  293006 non-null  int64
 4   horse_weight  293006 non-null  object
 5   jockey        291874 non-null  object
 6   name          293003 non-null  object
 7   popular       289280 non-null  float64
 8   race_date     293006 non-null  object
 9   race_id       293006 non-null  object
 10  race_name     293006 non-null  object
 11  rank          293006 non-null  int64
 12  time          286445 non-null  object
 13  weight        293004 non-null  float64
 14  win           293006 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 33.5+ MB

## データ数

In [8]:
print('race:', race_df.shape[0])
print('horse:', horse_df.shape[0])

race: 27532
horse: 293006

## カラム

In [9]:
race_df.columns

Index(['clockwise', 'date', 'distance', 'field_condition', 'field_type',
       'name', 'place', 'race_id', 'race_round', 'start_time', 'weather'],
      dtype='object')

In [10]:
horse_df.columns

Index(['agari', 'age', 'frame_number', 'horse_number', 'horse_weight',
       'jockey', 'name', 'popular', 'race_date', 'race_id', 'race_name',
       'rank', 'time', 'weight', 'win'],
      dtype='object')

## 欠損値の確認

### レース

In [11]:
race_df.isnull().sum()

clockwise             0
date                  0
distance              0
field_condition    2432
field_type         2432
name                  0
place                 0
race_id               0
race_round            0
start_time          777
weather             842
dtype: int64

レース

- field_conditionとfield_typeがないのは障害レースの可能性あり
  - 同じデータ
  - 障害レースにはfield conditionとfield_typeがない
  - 学習データとしては削除しても良さそう
- start_timeがないのはレースが中止？
  - 海外のレースがほとんど
  - 学習データとしては削除しても良さそう
- weatherがないのは？？
  - 海外のレースでない物がある（start_timeがないのと同じ）
  - 日本のレースはいくつか欠損している
    - 開催されていないレースなのでデータ削除

field_conditionとfield_typeが欠損しているデータ

In [12]:
(race_df[race_df['field_condition'].isnull()]['race_id'] == race_df[race_df['field_type'].isnull()]['race_id']).value_counts()

True    2432
Name: race_id, dtype: int64

In [13]:
race_df[race_df['field_condition'].isnull()].head(10)

   clockwise       date  distance  ... race_round start_time weather
24        00  2020/6/22       200  ...        11R      20:45       曇
25        00  2020/6/22       200  ...        10R      20:05       曇
26        00  2020/6/22       200  ...         9R      19:25       曇
27        00  2020/6/22       200  ...         8R      18:45       曇
28        00  2020/6/22       200  ...         7R      18:10       曇
29        00  2020/6/22       200  ...         6R      17:35       曇
30        00  2020/6/22       200  ...         5R      17:00       曇
31        00  2020/6/22       200  ...         4R      16:25       曇
32        00  2020/6/22       200  ...         3R      15:50       曇
33        00  2020/6/22       200  ...         2R      15:15       曇

[10 rows x 11 columns]

In [14]:
race_df[race_df['field_condition'].isnull()]['place'].value_counts()

帯広(ば)    2432
Name: place, dtype: int64

帯広で開催されるのは、短距離（200m）の特殊なレースなので、データを削除する。

In [15]:
race_df = race_df.dropna(subset=['field_condition'])

In [16]:
race_df.isnull().sum()

clockwise            0
date                 0
distance             0
field_condition      0
field_type           0
name                 0
place                0
race_id              0
race_round           0
start_time         777
weather            842
dtype: int64

In [17]:
race_df[race_df['start_time'].isnull()]['place'].value_counts()

アメリカ        106
イギリス        101
シャティン        72
オーストラリア      72
メイダン         64
ランドウ         44
アイルランド       43
サンタアニタ       40
ロンシャン        31
アスコット        29
コーフィー        28
フランス         26
フレミントン       25
ベルモント        13
チャーチル        12
シャンティイ       12
アラブ首長国連邦     11
ドイツ          10
レパーズタウン      10
ニュージーランド      8
ドーヴィル         7
カナダ           4
ムーニーバレー       3
カタール          3
香港            2
シンガポール        1
Name: place, dtype: int64

レースに出ている馬のデータはどうなっているか

In [18]:
horse_df[horse_df['race_id']=='2020A0a00404']

      agari age  frame_number  horse_number  ... rank     time weight  win
3068    NaN  セ4           NaN             6  ...    1  2:05.63   57.0  ---
3069    NaN  セ6           NaN             3  ...    2      NaN   57.0  ---
3070    NaN  牡4           NaN             5  ...    3      NaN   57.0  ---
3082    NaN  牡4           NaN             2  ...    4      NaN   57.0  ---
3083    NaN  牝4           NaN             7  ...    5      NaN   55.5  ---
3084    NaN  牡4           NaN             4  ...    6      NaN   57.0  ---

[6 rows x 15 columns]

海外のレースなのでデータを削除

In [19]:
race_df = race_df.dropna(subset=['start_time'])

In [20]:
race_df.isnull().sum()

clockwise           0
date                0
distance            0
field_condition     0
field_type          0
name                0
place               0
race_id             0
race_round          0
start_time          0
weather            71
dtype: int64

In [21]:
race_df[race_df['weather'].isnull()].tail(10)

      clockwise       date  distance  ... race_round start_time weather
19174         右  2019/6/18      1600  ...        10R      16:55     NaN
19175         右  2019/6/18      1400  ...         9R      16:20     NaN
19176         右  2019/6/18      1400  ...         8R      15:45     NaN
19177         右  2019/6/18      1400  ...         7R      15:10     NaN
19178         右  2019/6/18      1400  ...         6R      14:35     NaN
19179         右  2019/6/18      1400  ...         5R      14:00     NaN
19180         右  2019/6/18      1400  ...         4R      13:25     NaN
19181         右  2019/6/18      1400  ...         3R      12:50     NaN
19182         右  2019/6/18      1400  ...         2R      12:15     NaN
19183         右  2019/6/18       800  ...         1R      11:45     NaN

[10 rows x 11 columns]

In [22]:
horse_df[horse_df['race_id']=='201947061809']

        agari age  frame_number  horse_number  ... rank time weight  win
203930    NaN  セ7           1.0             1  ...    1  NaN   56.0  ---
203931    NaN  牡4           2.0             2  ...    2  NaN   56.0  ---
203935    NaN  牡4           3.0             3  ...    3  NaN   56.0  ---
203936    NaN  牝4           4.0             4  ...    4  NaN   54.0  ---
203937    NaN  牝5           5.0             5  ...    5  NaN   51.0  ---
203944    NaN  牝4           6.0             6  ...    6  NaN   52.0  ---
203945    NaN  セ7           7.0             7  ...    7  NaN   56.0  ---
203946    NaN  牡4           8.0             8  ...    8  NaN   56.0  ---
203947    NaN  牡8           8.0             9  ...    9  NaN   56.0  ---

[9 rows x 15 columns]

In [23]:
race_df[race_df['weather'].isnull()]['date'].value_counts()

2019/7/21     12
2019/8/15     12
2019/11/18    12
2019/6/20     11
2019/6/19     10
2019/6/18     10
2019/10/19     2
2019/10/6      1
2019/10/26     1
Name: date, dtype: int64

開催されていないレースのようなので削除

In [24]:
race_df = race_df.dropna(subset=['weather'])

In [25]:
race_df.isnull().sum()

clockwise          0
date               0
distance           0
field_condition    0
field_type         0
name               0
place              0
race_id            0
race_round         0
start_time         0
weather            0
dtype: int64

### 馬

まずは、削除されたレースは削除する

In [26]:
race_id_list = race_df['race_id'].values
horse_race_id_list = horse_df['race_id'].unique()
drop_race_id = []
for race_id in horse_race_id_list:
  if not race_id in race_id_list:
    drop_race_id.append(race_id)

In [27]:
for race_id in drop_race_id:
  horse_df = horse_df[horse_df['race_id'] != race_id]

In [28]:
horse_df.isnull().sum()

agari           3393
age                0
frame_number      69
horse_number       0
horse_weight       0
jockey             0
name               0
popular         2371
race_date          0
race_id            0
race_name          0
rank               0
time            3376
weight             0
win                0
dtype: int64

馬

- agariはデータがないのが多い（障害レース？）
  - agariがない馬はtimeもない
  - timeがないので削除
  - timeが欠損していないがagariが欠損しているのはデータがほとんど欠損しているレースのため削除
- frame_number、jockey、popularは？？
- timeがないのはレースに出場しなかった？
  - レースに関係しないので削除
  - 失格や出ていないなど

In [29]:
horse_df[horse_df['agari'].isnull() ]['time'].isnull().sum()

3376

timeがないのはレースに関係していないので削除

In [30]:
horse_df = horse_df.dropna(subset=['time'])

In [31]:
horse_df.isnull().sum()

agari           17
age              0
frame_number     6
horse_number     0
horse_weight     0
jockey           0
name             0
popular          0
race_date        0
race_id          0
race_name        0
rank             0
time             0
weight           0
win              0
dtype: int64

In [32]:
horse_df[horse_df['agari'].isnull()]

        agari age  frame_number  horse_number  ... rank     time weight    win
88930     NaN  牡4           7.0             8  ...    1   1:43.0   56.5    2.8
88940     NaN  牝4           3.0             3  ...    2   1:43.2   54.5   10.8
88941     NaN  牡8           1.0             1  ...    3   1:43.3   56.5   35.0
88947     NaN  セ6           8.0            10  ...    4   1:43.3   56.5    2.7
88948     NaN  牝5           4.0             4  ...    5   1:43.4   54.5   73.3
88953     NaN  牡7           7.0             9  ...    6   1:44.3   56.5    3.9
88954     NaN  牡5           8.0            11  ...    7   1:44.6   56.5  110.7
88960     NaN  牝5           5.0             5  ...    8   1:44.9   54.5   21.2
88961     NaN  牡4           6.0             6  ...    9   1:45.3   56.5  113.4
88969     NaN  牡6           2.0             2  ...   10   1:46.5   56.5  180.9
88970     NaN  牡6           6.0             7  ...   11   1:49.1   56.5   11.8
228993    NaN  牡3           NaN            20  ...    1  2:03.93   57.0   66.6
244561    NaN  牡3           NaN            20  ...    1  1:37.65   49.5    5.8
247741    NaN  牡4           NaN             2  ...    1  2:27.17   56.5    3.0
247746    NaN  牝4           NaN             7  ...    1  1:46.78   55.0    1.2
247751    NaN  牡5           NaN            12  ...    1  2:03.87   57.0    2.8
247757    NaN  セ7           NaN             3  ...    1  1:10.75   57.0    2.6

[17 rows x 15 columns]

余ったagariはtimeがほとんどないレース、もしくはふなばしセレクション。
ふなばしセレクションは全ての馬がagariのデータがないため、削除。

In [33]:
horse_df = horse_df.dropna(subset=['agari'])

In [34]:
horse_df.isnull().sum()

agari           0
age             0
frame_number    0
horse_number    0
horse_weight    0
jockey          0
name            0
popular         0
race_date       0
race_id         0
race_name       0
rank            0
time            0
weight          0
win             0
dtype: int64

馬データがないレースデータを削除する。

In [35]:
horse_race_id_list = horse_df['race_id'].unique()
type(horse_race_id_list)

numpy.ndarray

In [37]:
race_id_list = race_df['race_id'].values
horse_race_id_list = horse_df['race_id'].unique()
print(race_id_list.shape)
print(horse_race_id_list.shape)
drop_race_id = []
for race_id in race_id_list:
  if not race_id in horse_race_id_list:
    drop_race_id.append(race_id)

(24252,)
(24221,)

In [38]:
for race_id in drop_race_id:
  race_df = race_df[race_df['race_id'] != race_id]

## ユニークな値の数

In [39]:
for col, values in race_df.iteritems():
    num_uniques = values.nunique()
    print ('{name}: {num_unique}'.format(name=col, num_unique=num_uniques))

clockwise: 11
date: 539
distance: 54
field_condition: 4
field_type: 3
name: 7426
place: 24
race_id: 24221
race_round: 12
start_time: 149
weather: 6

In [40]:
for col, values in horse_df.iteritems():
    num_uniques = values.nunique()
    print ('{name}: {num_unique}'.format(name=col, num_unique=num_uniques))

agari: 264
age: 40
frame_number: 8
horse_number: 18
horse_weight: 8203
jockey: 450
name: 23930
popular: 18
race_date: 539
race_id: 24221
race_name: 7426
rank: 18
time: 1836
weight: 26
win: 5403

- race_idの数がhorse_dfが小さい（２つ足りない）

## データの保存

In [41]:
race_df.to_csv(DATA_PATH + 'race_ex.csv')
horse_df.to_csv(DATA_PATH + 'horse_ex.csv')