<a href="https://colab.research.google.com/github/monda00/horse-race-notebook/blob/master/horse_race_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# netkeibaでスクレイピングしたデータのEDA

- 準備
- ライブラリ・データ読み込み
- データの概観・分析

# 準備

# ライブラリ・データ読み込み

In [11]:
import numpy as np
import pandas as pd

In [12]:
DATA_PATH = './'

In [13]:
race_df = pd.read_csv(DATA_PATH + 'race.csv')
horse_df = pd.read_csv(DATA_PATH + 'horse.csv')

In [14]:
race_df.head()

  clockwise       date  distance  ... race_round start_time weather
0         右  2020/6/22      1400  ...        12R      20:50       雨
1         右  2020/6/22      1800  ...        11R      20:10       雨
2         右  2020/6/22      1200  ...        10R      19:30       雨
3         右  2020/6/22      1400  ...         9R      18:55       雨
4         右  2020/6/22      1600  ...         8R      18:20       雨

[5 rows x 11 columns]

In [15]:
horse_df.head()

   agari age  frame_number  horse_number  ... rank    time weight   win
0   38.1  牡3           7.0            13  ...    1  1:28.5   54.0   3.7
1   38.1  牝5           6.0            11  ...    2  1:28.7   54.0  81.4
2   38.6  セ6           3.0             4  ...    3  1:28.8   56.0   8.6
3   37.9  牡4           8.0            14  ...    4  1:28.8   56.0  34.4
4   38.5  牝5           4.0             7  ...    5  1:28.9   54.0  34.8

[5 rows x 15 columns]

# データの概観・分析