<a href="https://colab.research.google.com/github/monda00/horse-race-notebook/blob/master/make_import_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# アプリにインポートするデータ形式に変換する

# ライブラリ・データ読み込み

In [1]:
import numpy as np
import pandas as pd
import re
import collections

In [2]:
DATA_PATH = '/content/drive/My Drive/data/horse-race/'

In [3]:
race_df = pd.read_csv(DATA_PATH + 'race_ex.csv')
horse_df = pd.read_csv(DATA_PATH + 'horse_ex.csv')

# 前処理

必要なデータ

## ７頭以下のレースを削除

In [4]:
horse_df['race_id'].value_counts()

202008030303    18
201904021003    18
201910020707    18
201907010209    18
201908030105    18
                ..
201945051701     4
201946061610     4
202035052403     4
201947070506     3
201935071404     3
Name: race_id, Length: 24221, dtype: int64

In [5]:
drop_races_s = horse_df['race_id'].value_counts() <= 7
drop_race_id = drop_races_s[drop_races_s == True].index

for race_id in drop_race_id:
  race_df = race_df[race_df['race_id'] != race_id]

for race_id in drop_race_id:
  horse_df = horse_df[horse_df['race_id'] != race_id]

In [6]:
horse_df['race_id'].value_counts()

201910010805    18
201910010107    18
201906050612    18
201908030105    18
201904030106    18
                ..
201936082609     8
201954021002     8
201950070403     8
201943080912     8
202047061904     8
Name: race_id, Length: 22630, dtype: int64

## 性別と年齢の分割

In [7]:
gen = []
age = []
for i in range(len(horse_df)):
  age_v = horse_df.iloc[i]['age']
  gen.append(re.search(r'(.)(\d{1,2})', age_v).group(1))
  age.append(re.search(r'(.)(\d{1,2})', age_v).group(2))

In [8]:
horse_df['age'] = age
horse_df['gen'] = gen

## 負担重量と体重と増減

In [9]:
horse_df['burden_weight'] = horse_df['weight']

In [10]:
weight = []
weight_diff = []
for i in range(len(horse_df)):
  horse_weight = horse_df.iloc[i]['horse_weight']
  if horse_weight == '計不':
    weight.append('計不')
    weight_diff.append('計不')
  else:
    weight.append(int(re.search(r'(.*)(\(.*?\))', horse_weight).group(1)))
    weight_diff.append(re.search(r'(.*)(\(.*?\))', horse_weight).group(2).replace('(', '').replace(')', ''))

In [11]:
horse_df['weight'] = weight
horse_df['weight_diff'] = weight_diff

## 日時

In [12]:
race_df['date_time'] = pd.to_datetime(race_df['date'] + ' ' + race_df['start_time'])

## 出走馬数

In [13]:
race_df['race_horse_number'] = list(collections.Counter(list(horse_df['race_id'].values)).values())

# 確認

In [14]:
horse_df

        Unnamed: 0  agari age  ...  gen  burden_weight weight_diff
0                0   38.1   3  ...    牡           54.0          -5
1                1   38.1   5  ...    牝           54.0          -2
2                2   38.6   6  ...    セ           56.0          +2
3                3   37.9   4  ...    牡           56.0          +6
4                4   38.5   5  ...    牝           54.0          +6
...            ...    ...  ..  ...  ...            ...         ...
264074      292885   44.0   5  ...    牝           54.0          -3
264078      292889   40.9   6  ...    牡           55.0          +7
264079      292890   41.3   6  ...    牡           56.0          -1
264080      292896   42.2   6  ...    牝           54.0          +2
264081      292898   42.4   8  ...    牝           51.0          -2

[253636 rows x 19 columns]

In [15]:
race_df

       Unnamed: 0 clockwise  ...           date_time  race_horse_number
0               0         右  ... 2020-06-22 20:50:00                 15
1               1         右  ... 2020-06-22 20:10:00                 15
2               2         右  ... 2020-06-22 19:30:00                 14
3               3         右  ... 2020-06-22 18:55:00                 14
4               4         右  ... 2020-06-22 18:20:00                 12
...           ...       ...  ...                 ...                ...
24215       27514         左  ... 2019-01-01 13:50:00                  8
24216       27515         左  ... 2019-01-01 13:20:00                 10
24217       27516         左  ... 2019-01-01 12:50:00                 10
24218       27517         左  ... 2019-01-01 12:20:00                 11
24219       27518         左  ... 2019-01-01 11:50:00                 10

[22630 rows x 14 columns]

# エクスポート

In [16]:
use_columns_horse = [
                    'race_id',
                    'horse_number',
                    'frame_number',
                    'age',
                    'gen',
                    'weight',
                    'weight_diff',
                    'burden_weight'
]

use_columns_race = [
                    'race_id',
                    'name',
                    'place',
                    'race_horse_number',
                    'distance',
                    'clockwise',
                    'field_type',
                    'field_condition',
                    'weather',
                    'date_time'
]

In [17]:
horse_df[use_columns_horse].to_csv(DATA_PATH+'import_horse.csv', index=False)
race_df[use_columns_race].to_csv(DATA_PATH+'import_race.csv', index=False)

In [18]:
horse_df[use_columns_horse]

             race_id  horse_number  ...  weight_diff burden_weight
0       202044062212            13  ...           -5          54.0
1       202044062212            11  ...           -2          54.0
2       202044062212             4  ...           +2          56.0
3       202044062212            14  ...           +6          56.0
4       202044062212             7  ...           +6          54.0
...              ...           ...  ...          ...           ...
264074  201945010107            11  ...           -3          54.0
264078  201945010102             4  ...           +7          55.0
264079  201945010102             6  ...           -1          56.0
264080  201945010103             8  ...           +2          54.0
264081  201945010102             9  ...           -2          51.0

[253636 rows x 8 columns]

In [19]:
race_df[use_columns_race]

            race_id       name  ... weather           date_time
0      202044062212    タイタン賞競走  ...       雨 2020-06-22 20:50:00
1      202044062211  ポートサイド賞競走  ...       雨 2020-06-22 20:10:00
2      202044062210    C1九　十11  ...       雨 2020-06-22 19:30:00
3      202044062209    C1九　十11  ...       雨 2020-06-22 18:55:00
4      202044062208    C1九　十11  ...       雨 2020-06-22 18:20:00
...             ...        ...  ...     ...                 ...
24215  201945010106        3歳4  ...       晴 2019-01-01 13:50:00
24216  201945010105     タンチョウ賞  ...       晴 2019-01-01 13:20:00
24217  201945010104        3歳5  ...       晴 2019-01-01 12:50:00
24218  201945010103      C3七　八  ...       晴 2019-01-01 12:20:00
24219  201945010102      C3七　八  ...       晴 2019-01-01 11:50:00

[22630 rows x 10 columns]