<a href="https://colab.research.google.com/github/monda00/horse-race-notebook/blob/master/make_import_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# アプリにインポートするデータ形式に変換する

# ライブラリ・データ読み込み

In [1]:
import numpy as np
import pandas as pd

In [2]:
DATA_PATH = '/content/drive/My Drive/data/horse-race/'

In [4]:
race_df = pd.read_csv(DATA_PATH + 'race_ex.csv')
horse_df = pd.read_csv(DATA_PATH + 'horse_ex.csv')

# 前処理

必要なデータ

## ７頭以下のレースを削除

In [5]:
horse_df['race_id'].value_counts()

202008030303    18
201904021003    18
201910020707    18
201907010209    18
201908030105    18
                ..
201945051701     4
201946061610     4
202035052403     4
201947070506     3
201935071404     3
Name: race_id, Length: 24221, dtype: int64

In [6]:
drop_races_s = horse_df['race_id'].value_counts() <= 7
drop_race_id = drop_races_s[drop_races_s == True].index

for race_id in drop_race_id:
  race_df = race_df[race_df['race_id'] != race_id]

for race_id in drop_race_id:
  horse_df = horse_df[horse_df['race_id'] != race_id]

In [7]:
horse_df['race_id'].value_counts()

201910010805    18
201910010107    18
201906050612    18
201908030105    18
201904030106    18
                ..
201936082609     8
201954021002     8
201950070403     8
201943080912     8
202047061904     8
Name: race_id, Length: 22630, dtype: int64

## 性別と年齢の分割

## 負担重量と体重と増減

## 日時

In [9]:
horse_df

        Unnamed: 0  agari age  frame_number  ...  rank    time weight    win
0                0   38.1  牡3           7.0  ...     1  1:28.5   54.0    3.7
1                1   38.1  牝5           6.0  ...     2  1:28.7   54.0   81.4
2                2   38.6  セ6           3.0  ...     3  1:28.8   56.0    8.6
3                3   37.9  牡4           8.0  ...     4  1:28.8   56.0   34.4
4                4   38.5  牝5           4.0  ...     5  1:28.9   54.0   34.8
...            ...    ...  ..           ...  ...   ...     ...    ...    ...
264074      292885   44.0  牝5           7.0  ...    13  1:40.9   54.0  432.6
264078      292889   40.9  牡6           4.0  ...     8  1:34.6   55.0   22.0
264079      292890   41.3  牡6           6.0  ...     9  1:35.3   56.0  136.0
264080      292896   42.2  牝6           7.0  ...    11  1:35.8   54.0   13.2
264081      292898   42.4  牝8           8.0  ...    10  1:35.4   51.0   76.1

[253636 rows x 16 columns]

In [10]:
race_df

       Unnamed: 0 clockwise       date  ...  race_round start_time weather
0               0         右  2020/6/22  ...         12R      20:50       雨
1               1         右  2020/6/22  ...         11R      20:10       雨
2               2         右  2020/6/22  ...         10R      19:30       雨
3               3         右  2020/6/22  ...          9R      18:55       雨
4               4         右  2020/6/22  ...          8R      18:20       雨
...           ...       ...        ...  ...         ...        ...     ...
24215       27514         左   2019/1/1  ...          6R      13:50       晴
24216       27515         左   2019/1/1  ...          5R      13:20       晴
24217       27516         左   2019/1/1  ...          4R      12:50       晴
24218       27517         左   2019/1/1  ...          3R      12:20       晴
24219       27518         左   2019/1/1  ...          2R      11:50       晴

[22630 rows x 12 columns]

In [ ]:
use_columns_horse = [
                    'race_id',
                    'horse_number',
                    'frame_number',
                    'age',
                    'gen',
                    'weight',
                    'weight_diff',
                    'burden_weight'
]

use_columns_race = [
                    'race_id',
                    'name',
                    'place',
                    'distance',
                    'clockwise',
                    'field_type',
                    'field_condition',
                    'weather',
                    'date_time'
]