<a href="https://colab.research.google.com/github/monda00/horse-race-notebook/blob/master/predict_show_simple_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ３着以内の馬を予測

lightGBMでシンプルなモデルを実装する。

- ライブラリ・データ読み込み
- データ前処理
- 学習
- 予測

# ライブラリ・データ読み込み

In [1]:
import numpy as np
import pandas as pd
import re
import collections

import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
DATA_PATH = '/content/drive/My Drive/data/horse-race/'

In [3]:
train_df = pd.read_csv(DATA_PATH + 'train.csv')

日付でソートしておく。

後半をtestデータとするため。

In [4]:
train_df = train_df.sort_values(by=['race_date', 'race_id', 'rank'])

In [5]:
train_df.reset_index(inplace=True, drop=True)

In [6]:
train_df.head()

  age  frame_number  horse_number jockey  ... place  race_round start_time  weather
0  牝7           3.0             3   藤本現暉  ...    川崎          2R      11:50        晴
1  牡7           5.0             5   加藤和博  ...    川崎          2R      11:50        晴
2  牡7           2.0             2   瀧川寿希  ...    川崎          2R      11:50        晴
3  牝7           7.0             8   岡村健司  ...    川崎          2R      11:50        晴
4  牝4           8.0            10   伊藤裕人  ...    川崎          2R      11:50        晴

[5 rows x 20 columns]

In [7]:
len(train_df)

253636

# データ前処理

- レースが開催されるのは週末のため日付は利用しない
  - 季節に変換
- 時刻は時間帯に変換
- ageは性別（？）と年齢に分割
- 気温は関係ありそうなため後々追加
- レース名はレースの種類に変換した方が良さそうだが後回し
- rankはランキング学習のためにデータをソートしたら削除

開催日から季節を追加し、開催日を削除

In [8]:
season = []
for i in range(len(train_df)):
  race_date = train_df.iloc[i]['race_date']
  race_month = int(re.search(r'\/.+?\/', race_date).group().replace('/', ''))
  if 3 <= race_month <= 5:
    season.append('sprint')
  elif 6 <= race_month <= 8:
    season.append('summer')
  elif 9 <= race_month <= 11:
    season.append('autumn')
  else:
    season.append('winter')

In [9]:
train_df['season'] = season

時刻を時間帯に分ける。
まずは、開催時間の種類を確認。

In [10]:
train_df['start_time'].value_counts()

13:15    4516
16:10    4410
20:50    4264
12:45    3772
15:45    3764
         ...
12:01      15
15:51      13
13:51      12
14:41      10
20:25      10
Name: start_time, Length: 149, dtype: int64

In [11]:
train_df.sort_values(by='start_time')

       age  frame_number  horse_number  ... start_time weather  season
49126   牡2           8.0            14  ...      09:35       曇  winter
49129   牡2           6.0            10  ...      09:35       曇  winter
49128   牡2           2.0             2  ...      09:35       曇  winter
49127   牡2           1.0             1  ...      09:35       曇  winter
49132   牡2           7.0            13  ...      09:35       曇  winter
...     ..           ...           ...  ...        ...     ...     ...
205545  牡6           1.0             1  ...      20:55       曇  sprint
205544  牡8           4.0             4  ...      20:55       曇  sprint
205543  牝5           6.0             8  ...      20:55       曇  sprint
131394  牡4           5.0             5  ...      20:55       曇  summer
151974  牝4           2.0             2  ...      20:55       曇  summer

[253636 rows x 21 columns]

時間の値で置き換える

09:55->9  
20:55->20

In [12]:
time_hour = []
for i in range(len(train_df)):
  start_time = train_df.iloc[i]['start_time']
  time_hour.append(int(re.search(r'(.*):(.*)', start_time).group(1)))

In [13]:
train_df['time_hour'] = time_hour

ageを分ける

In [14]:
gen = []
age = []
for i in range(len(train_df)):
  age_v = train_df.iloc[i]['age']
  gen.append(re.search(r'(.*)(\d)', age_v).group(1))
  age.append(re.search(r'(.*)(\d)', age_v).group(2))

In [15]:
train_df['age'] = age
train_df['gen'] = gen

In [16]:
train_df

       age  frame_number  horse_number jockey  ... weather  season time_hour  gen
0        7           3.0             3   藤本現暉  ...       晴  winter        11    牝
1        7           5.0             5   加藤和博  ...       晴  winter        11    牡
2        7           2.0             2   瀧川寿希  ...       晴  winter        11    牡
3        7           7.0             8   岡村健司  ...       晴  winter        11    牝
4        4           8.0            10   伊藤裕人  ...       晴  winter        11    牝
...     ..           ...           ...    ...  ...     ...     ...       ...  ...
253631   5           8.0            10   藤原良一  ...       晴  summer        17    牝
253632   6           1.0             1   浅野皓大  ...       晴  summer        17    牝
253633   5           4.0             4   加藤聡一  ...       晴  summer        17    牡
253634   4           8.0             9   友森翔太  ...       晴  summer        17    牝
253635   5           7.0             8   深澤杏花  ...       晴  summer        17    牝

[253636 rows x 23 columns]

In [17]:
for col, values in train_df.iteritems():
    num_uniques = values.nunique()
    print ('{name}: {num_unique}'.format(name=col, num_unique=num_uniques))

age: 10
frame_number: 8
horse_number: 18
jockey: 450
name: 23752
popular: 18
race_date: 538
race_id: 22630
race_name: 7082
rank: 18
weight: 26
win: 5403
show: 2
clockwise: 11
distance: 54
field_type: 3
place: 24
race_round: 12
start_time: 149
weather: 6
season: 4
time_hour: 12
gen: 6

## Label Encoding

一旦、単純なLabel Encodingをする。

In [18]:
categorical_cols = ['jockey', 'name', 'race_name', 'clockwise', 'field_type', 'place', 'race_round', 'weather', 'season', 'gen']

In [19]:
for c in categorical_cols:
  le = LabelEncoder()
  le.fit(train_df[c])
  train_df[c] = le.transform(train_df[c])

In [20]:
train_df

       age  frame_number  horse_number  jockey  ...  weather  season time_hour  gen
0        7           3.0             3     380  ...        2       3        11    2
1        7           5.0             5      66  ...        2       3        11    4
2        7           2.0             2     307  ...        2       3        11    4
3        7           7.0             8     179  ...        2       3        11    2
4        4           8.0            10      51  ...        2       3        11    2
...     ..           ...           ...     ...  ...      ...     ...       ...  ...
253631   5           8.0            10     376  ...        2       2        17    2
253632   6           1.0             1     297  ...        2       2        17    2
253633   5           4.0             4      68  ...        2       2        17    4
253634   4           8.0             9      81  ...        2       2        17    2
253635   5           7.0             8     300  ...        2       2        17    2

[253636 rows x 23 columns]

## trainデータとtestデータに分割

In [21]:
train_df, test_df = train_test_split(train_df, test_size=53624, shuffle=False)

ランキング学習用にクエリデータ作成。

クエリデータは、何行ごとにクエリがまとまっているかを表している。
クエリ（ここではレース）ごとにデータが連続していなければならない。

In [22]:
train_race_id_counter = collections.Counter(list(train_df['race_id'].values))
test_race_id_counter = collections.Counter(list(test_df['race_id'].values))

In [23]:
train_query = list(train_race_id_counter.values())
test_query = list(test_race_id_counter.values())

## 目的変数を分離

In [24]:
fea_cols = ['age', 'frame_number', 'horse_number', 'jockey', 'name', 'popular', 'race_id', 'race_name', 'weight',
            'win', 'clockwise', 'distance', 'field_type', 'place', 'race_round', 'weather', 'season', 'time_hour', 'gen']
target_col = ['rank']

In [25]:
X_train = train_df[fea_cols].values
y_train = train_df[target_col].values.reshape(-1)
X_test = test_df[fea_cols].values
y_test = test_df[target_col].values.reshape(-1)

# 学習

In [26]:
lgb_train = lgb.Dataset(X_train, y_train, group=train_query)
lgb_eval = lgb.Dataset(X_test, y_test, group=test_query)

params = {
    'objective': 'lambdarank',
    'metric': 'ndcg',
    'ndcg_eval_at': [1, 3],
    'boosting_type': 'gbdt',
}

num_round = 100

In [27]:
model = lgb.train(
    params,
    lgb_train,
    valid_sets=lgb_eval,
    num_boost_round=num_round,
)

[1]	valid_0's ndcg@1: 0.323769	valid_0's ndcg@3: 0.475051
[2]	valid_0's ndcg@1: 0.371914	valid_0's ndcg@3: 0.506285
[3]	valid_0's ndcg@1: 0.393932	valid_0's ndcg@3: 0.522159
[4]	valid_0's ndcg@1: 0.404985	valid_0's ndcg@3: 0.527143
[5]	valid_0's ndcg@1: 0.408321	valid_0's ndcg@3: 0.529566
[6]	valid_0's ndcg@1: 0.414805	valid_0's ndcg@3: 0.532403
[7]	valid_0's ndcg@1: 0.417291	valid_0's ndcg@3: 0.533489
[8]	valid_0's ndcg@1: 0.422089	valid_0's ndcg@3: 0.535665
[9]	valid_0's ndcg@1: 0.422347	valid_0's ndcg@3: 0.535545
[10]	valid_0's ndcg@1: 0.424124	valid_0's ndcg@3: 0.536821
[11]	valid_0's ndcg@1: 0.425687	valid_0's ndcg@3: 0.537458
[12]	valid_0's ndcg@1: 0.425297	valid_0's ndcg@3: 0.537725
[13]	valid_0's ndcg@1: 0.426677	valid_0's ndcg@3: 0.538517
[14]	valid_0's ndcg@1: 0.426524	valid_0's ndcg@3: 0.538462
[15]	valid_0's ndcg@1: 0.426532	valid_0's ndcg@3: 0.5383
[16]	valid_0's ndcg@1: 0.427083	valid_0's ndcg@3: 0.53933
[17]	valid_0's ndcg@1: 0.427683	valid_0's ndcg@3: 0.539783
[18]	valid_0's ndcg@1: 0.429148	valid_0's ndcg@3: 0.540011
[19]	valid_0's ndcg@1: 0.429744	valid_0's ndcg@3: 0.539985
[20]	valid_0's ndcg@1: 0.430034	valid_0's ndcg@3: 0.540009
[21]	valid_0's ndcg@1: 0.429157	valid_0's ndcg@3: 0.539908
[22]	valid_0's ndcg@1: 0.428024	valid_0's ndcg@3: 0.539768
[23]	valid_0's ndcg@1: 0.426849	valid_0's ndcg@3: 0.539864
[24]	valid_0's ndcg@1: 0.426766	valid_0's ndcg@3: 0.539801
[25]	valid_0's ndcg@1: 0.427635	valid_0's ndcg@3: 0.540127
[26]	valid_0's ndcg@1: 0.429403	valid_0's ndcg@3: 0.540133
[27]	valid_0's ndcg@1: 0.430573	valid_0's ndcg@3: 0.540592
[28]	valid_0's ndcg@1: 0.431202	valid_0's ndcg@3: 0.541088
[29]	valid_0's ndcg@1: 0.43103	valid_0's ndcg@3: 0.541168
[30]	valid_0's ndcg@1: 0.430596	valid_0's ndcg@3: 0.541197
[31]	valid_0's ndcg@1: 0.430354	valid_0's ndcg@3: 0.541095
[32]	valid_0's ndcg@1: 0.429295	valid_0's ndcg@3: 0.54094
[33]	valid_0's ndcg@1: 0.429293	valid_0's ndcg@3: 0.540996
[34]	valid_0's ndcg@1: 0.429244	valid_0's ndcg@3: 0.541069
[35]	valid_0's ndcg@1: 0.429623	valid_0's ndcg@3: 0.541108
[36]	valid_0's ndcg@1: 0.428353	valid_0's ndcg@3: 0.54066
[37]	valid_0's ndcg@1: 0.428629	valid_0's ndcg@3: 0.541223
[38]	valid_0's ndcg@1: 0.428253	valid_0's ndcg@3: 0.54115
[39]	valid_0's ndcg@1: 0.428421	valid_0's ndcg@3: 0.541256
[40]	valid_0's ndcg@1: 0.429254	valid_0's ndcg@3: 0.541573
[41]	valid_0's ndcg@1: 0.428759	valid_0's ndcg@3: 0.541694
[42]	valid_0's ndcg@1: 0.429595	valid_0's ndcg@3: 0.541852
[43]	valid_0's ndcg@1: 0.42968	valid_0's ndcg@3: 0.541768
[44]	valid_0's ndcg@1: 0.429492	valid_0's ndcg@3: 0.54169
[45]	valid_0's ndcg@1: 0.428542	valid_0's ndcg@3: 0.541494
[46]	valid_0's ndcg@1: 0.428532	valid_0's ndcg@3: 0.541503
[47]	valid_0's ndcg@1: 0.429219	valid_0's ndcg@3: 0.541461
[48]	valid_0's ndcg@1: 0.428508	valid_0's ndcg@3: 0.541071
[49]	valid_0's ndcg@1: 0.429684	valid_0's ndcg@3: 0.541435
[50]	valid_0's ndcg@1: 0.429736	valid_0's ndcg@3: 0.541574
[51]	valid_0's ndcg@1: 0.430253	valid_0's ndcg@3: 0.541578
[52]	valid_0's ndcg@1: 0.428786	valid_0's ndcg@3: 0.540985
[53]	valid_0's ndcg@1: 0.429513	valid_0's ndcg@3: 0.54127
[54]	valid_0's ndcg@1: 0.429837	valid_0's ndcg@3: 0.541343
[55]	valid_0's ndcg@1: 0.429862	valid_0's ndcg@3: 0.54124
[56]	valid_0's ndcg@1: 0.429973	valid_0's ndcg@3: 0.540888
[57]	valid_0's ndcg@1: 0.430246	valid_0's ndcg@3: 0.541043
[58]	valid_0's ndcg@1: 0.430669	valid_0's ndcg@3: 0.540961
[59]	valid_0's ndcg@1: 0.430163	valid_0's ndcg@3: 0.540776
[60]	valid_0's ndcg@1: 0.428902	valid_0's ndcg@3: 0.540439
[61]	valid_0's ndcg@1: 0.429011	valid_0's ndcg@3: 0.540579
[62]	valid_0's ndcg@1: 0.428738	valid_0's ndcg@3: 0.540626
[63]	valid_0's ndcg@1: 0.428673	valid_0's ndcg@3: 0.540609
[64]	valid_0's ndcg@1: 0.429015	valid_0's ndcg@3: 0.540752
[65]	valid_0's ndcg@1: 0.428685	valid_0's ndcg@3: 0.54062
[66]	valid_0's ndcg@1: 0.429642	valid_0's ndcg@3: 0.540573
[67]	valid_0's ndcg@1: 0.428694	valid_0's ndcg@3: 0.540561
[68]	valid_0's ndcg@1: 0.428894	valid_0's ndcg@3: 0.540679
[69]	valid_0's ndcg@1: 0.429825	valid_0's ndcg@3: 0.540912
[70]	valid_0's ndcg@1: 0.429989	valid_0's ndcg@3: 0.541139
[71]	valid_0's ndcg@1: 0.429952	valid_0's ndcg@3: 0.541152
[72]	valid_0's ndcg@1: 0.430545	valid_0's ndcg@3: 0.541534
[73]	valid_0's ndcg@1: 0.430406	valid_0's ndcg@3: 0.541423
[74]	valid_0's ndcg@1: 0.43014	valid_0's ndcg@3: 0.541223
[75]	valid_0's ndcg@1: 0.429768	valid_0's ndcg@3: 0.541062
[76]	valid_0's ndcg@1: 0.429758	valid_0's ndcg@3: 0.54132
[77]	valid_0's ndcg@1: 0.429419	valid_0's ndcg@3: 0.541228
[78]	valid_0's ndcg@1: 0.429376	valid_0's ndcg@3: 0.541561
[79]	valid_0's ndcg@1: 0.429351	valid_0's ndcg@3: 0.541366
[80]	valid_0's ndcg@1: 0.429291	valid_0's ndcg@3: 0.541432
[81]	valid_0's ndcg@1: 0.429015	valid_0's ndcg@3: 0.541691
[82]	valid_0's ndcg@1: 0.428786	valid_0's ndcg@3: 0.541661
[83]	valid_0's ndcg@1: 0.428378	valid_0's ndcg@3: 0.541605
[84]	valid_0's ndcg@1: 0.428578	valid_0's ndcg@3: 0.541533
[85]	valid_0's ndcg@1: 0.429207	valid_0's ndcg@3: 0.541556
[86]	valid_0's ndcg@1: 0.428952	valid_0's ndcg@3: 0.541765
[87]	valid_0's ndcg@1: 0.429698	valid_0's ndcg@3: 0.541895
[88]	valid_0's ndcg@1: 0.430103	valid_0's ndcg@3: 0.541989
[89]	valid_0's ndcg@1: 0.430353	valid_0's ndcg@3: 0.542028
[90]	valid_0's ndcg@1: 0.43044	valid_0's ndcg@3: 0.542503
[91]	valid_0's ndcg@1: 0.430734	valid_0's ndcg@3: 0.542684
[92]	valid_0's ndcg@1: 0.43105	valid_0's ndcg@3: 0.542832
[93]	valid_0's ndcg@1: 0.430694	valid_0's ndcg@3: 0.542708
[94]	valid_0's ndcg@1: 0.431374	valid_0's ndcg@3: 0.542954
[95]	valid_0's ndcg@1: 0.430676	valid_0's ndcg@3: 0.542688
[96]	valid_0's ndcg@1: 0.430772	valid_0's ndcg@3: 0.542691
[97]	valid_0's ndcg@1: 0.43135	valid_0's ndcg@3: 0.542956
[98]	valid_0's ndcg@1: 0.431207	valid_0's ndcg@3: 0.542747
[99]	valid_0's ndcg@1: 0.431209	valid_0's ndcg@3: 0.542654
[100]	valid_0's ndcg@1: 0.430956	valid_0's ndcg@3: 0.542564

# 予測

In [28]:
model.predict(X_test)[:50]

array([-0.85559027, -0.47199565, -1.00579254, -0.80021847, -0.13258366,
       -0.16167441, -0.27023039, -0.85930273, -0.75482886, -0.64271283,
       -0.95534629, -0.63331581, -1.45354636, -0.70423876, -0.04755167,
        0.15812304, -0.37702882, -1.45354636, -0.4199507 , -0.42178056,
        0.12665557, -1.01764416, -0.70363388,  0.15512361, -0.20674983,
        0.52550528, -0.87976898, -0.27434424, -0.88118935, -0.88174971,
       -1.02147633, -0.69914322,  0.029383  , -0.42746929,  0.24343017,
       -0.9579222 , -1.14256133, -0.6135922 , -0.36309962, -0.64802168,
       -0.281923  ,  0.02589601, -1.02717471,  0.23783514, -1.28179643,
       -0.9579222 , -0.71747062, -0.3125239 ,  0.01863822, -0.22420382])

In [29]:
y_test[:50]

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5,
       6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9,
       1, 2, 3, 4, 5, 6])