<a href="https://colab.research.google.com/github/monda00/horse-race-notebook/blob/master/predict_show_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ニューラルネットワークで予測

学習データの作成から予測の考察までやってみる。

- 単純に１行ずつ学習
- 各レースのデータ数を揃えて１レースまとめて学習

特徴量

|分類	|項目 |
|---|---|
|馬情報	|馬番 |
| |枠番 |
| |年齢 |
| |性別 |
| |体重（現在） | 
| |体重（前走との差分） |
| |負担重量 |
| 当日レース情報 |レース場 |
| |出走馬数 |
| |コース距離 |
| |周回方向 |
| |コースタイプ（ダ/芝/障） |
| |天気 |
| |馬場状態 |
| |開始時間帯 |
| |時期 |
|同馬の過去レース情報（×5走分）	|オッズ |
| |人気 |
| |順位 |
| |タイム（秒） |
| |前走からの経過日数 |
| |コース距離 |
| |コースタイプ（ダ/芝/障） |
| |天気 |
| |馬場状態 |

# 概要

- ライブラリ・データ読み込み
- 前処理
- 学習
- 予測
- 考察

## 参考

- [データ収集からディープラーニングまで全て行って競馬の予測をしてみた](https://qiita.com/kami634/items/55e49dad76396d808bf5#%E5%8F%96%E5%BE%97%E3%81%97%E3%81%9Furl%E3%82%92%E3%82%82%E3%81%A8%E3%81%ABhtml%E3%82%92%E5%BE%97%E3%82%8B)
- [競馬の予測をガチでやってみた](http://stockedge.hatenablog.com/entry/2016/01/03/103428)
- [ディープラーニングさえあれば、競馬で回収率100%を超えられる](https://qiita.com/yossymura/items/334a8f3ef85bff081913)
- [競馬予想AIを作る 〜ニューラルネットワークによる相対評価データセットの取り扱い例〜](https://cocon-corporation.com/cocontoco/horseraceprediction_ai/)

# ライブラリ・データ読み込み

In [1]:
import numpy as np
import pandas as pd
import datetime
from tqdm import tqdm
import collections

from tensorflow import keras
from tensorflow.keras.layers import Input, Dense, Dropout, BatchNormalization
from tensorflow.keras.models import Model

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
DATA_PATH = '/content/drive/My Drive/data/horse-race/'

In [3]:
df = pd.read_csv(DATA_PATH + 'train_nn.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,6,32,33,34,41,42,43,50,51,52,59,60,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

        race_id  horse_number  frame_number  ...  five_before_weather show      date
0  201945010102           1.0           1.0  ...                    0  0.0  2019/1/1
1  201945010102           2.0           2.0  ...                    0  1.0  2019/1/1
2  201945010102           3.0           3.0  ...                    0  1.0  2019/1/1
3  201945010102           4.0           4.0  ...                    0  0.0  2019/1/1
4  201945010102           5.0           5.0  ...                    0  1.0  2019/1/1

[5 rows x 64 columns]

# 前処理

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407340 entries, 0 to 407339
Data columns (total 64 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   race_id                       407340 non-null  int64
 1   horse_number                  253636 non-null  float64
 2   frame_number                  253636 non-null  float64
 3   age                           253636 non-null  float64
 4   gen                           253636 non-null  object
 5   weight                        253636 non-null  object
 6   weight_diff                   253636 non-null  object
 7   burden_weight                 253636 non-null  float64
 8   place                         253636 non-null  object
 9   race_horse_number             253636 non-null  float64
 10  distance                      253636 non-null  float64
 11  clockwise                     253636 non-null  object
 12  field_type                    253636 non-null  object
 13  field_condition               253636 non-null  object
 14  weather                       253636 non-null  object
 15  time_hour                     253636 non-null  float64
 16  season                        253636 non-null  object
 17  one_before_odd                253636 non-null  float64
 18  one_before_popular            253636 non-null  float64
 19  one_before_rank               253636 non-null  float64
 20  one_before_time               253636 non-null  float64
 21  one_before_elapsed_day        253636 non-null  float64
 22  one_before_distance           253636 non-null  float64
 23  one_before_field_type         253636 non-null  object
 24  one_before_field_condition    253636 non-null  object
 25  one_before_weather            253636 non-null  object
 26  two_before_odd                253636 non-null  float64
 27  two_before_popular            253636 non-null  float64
 28  two_before_rank               253636 non-null  float64
 29  two_before_time               253636 non-null  float64
 30  two_before_elapsed_day        253636 non-null  float64
 31  two_before_distance           253636 non-null  float64
 32  two_before_field_type         253636 non-null  object
 33  two_before_field_condition    253636 non-null  object
 34  two_before_weather            253636 non-null  object
 35  three_before_odd              253636 non-null  float64
 36  three_before_popular          253636 non-null  float64
 37  three_before_rank             253636 non-null  float64
 38  three_before_time             253636 non-null  float64
 39  three_before_elapsed_day      253636 non-null  float64
 40  three_before_distance         253636 non-null  float64
 41  three_before_field_type       253636 non-null  object
 42  three_before_field_condition  253636 non-null  object
 43  three_before_weather          253636 non-null  object
 44  four_before_odd               253636 non-null  float64
 45  four_before_popular           253636 non-null  float64
 46  four_before_rank              253636 non-null  float64
 47  four_before_time              253636 non-null  float64
 48  four_before_elapsed_day       253636 non-null  float64
 49  four_before_distance          253636 non-null  float64
 50  four_before_field_type        253636 non-null  object
 51  four_before_field_condition   253636 non-null  object
 52  four_before_weather           253636 non-null  object
 53  five_before_odd               253636 non-null  float64
 54  five_before_popular           253636 non-null  float64
 55  five_before_rank              253636 non-null  float64
 56  five_before_time              253636 non-null  float64
 57  five_before_elapsed_day       253636 non-null  float64
 58  five_before_distance          253636 non-null  float64
 59  five_before_field_type        253636 non-null  object
 60  five_before_field_condition   253636 non-null  object
 61  five_before_weather           253636 non-null  object
 62  show                          253636 non-null  float64
 63  date                          407340 non-null  object
dtypes: float64(38), int64(1), object(25)
memory usage: 198.9+ MB

## 日付削除

日付はソートのために利用するだけのため削除

In [7]:
df = df.drop('date', axis=1)

## 欠損値

0埋めする。

In [9]:
df.isnull().sum().sum()

9529648

In [19]:
df = df.fillna(0)

過去レースの情報がない馬も結構いるかもしれない。

23752個のデータで過去レースの情報がない。
数値と文字列の0が混在している。

In [11]:
past_race_columns_base = ['odd', 'popular', 'rank', 'time', 'elapsed_day', 'distance', 'field_type', 'field_condition', 'weather']
past_race_num = ['one', 'two', 'three', 'four', 'five']
past_race_columns = []
for n in past_race_num:
  for c in past_race_columns_base:
    past_race_columns.append('{}_before_{}'.format(n, c))

## weight

計測不能が混じっている。

In [23]:
len(df[df['weight'] == '計不'])

44

In [24]:
df[df['weight'] == '計不'] = 0

In [25]:
df['weight'] = df['weight'].astype('int64')

## weight diff

型を変換する

In [26]:
df['weight_diff'] = df['weight_diff'].astype('int64')

## Label Encoding

In [28]:
categorical_cols = ['gen', 'place', 'clockwise', 'field_type', 'field_condition', 'weather', 'season']
categorical_cols_past_base = ['field_type', 'field_condition', 'weather']

In [29]:
categorical_cols_past = []
for n in past_race_num:
  for c in categorical_cols_past_base:
    categorical_cols_past.append('{}_before_{}'.format(n, c))

In [30]:
categorical_cols = categorical_cols + categorical_cols_past

In [42]:
df[categorical_cols] = df[categorical_cols].astype(str)

In [45]:
for c in categorical_cols:
  le = LabelEncoder()
  le.fit(df[c])
  df[c] = le.transform(df[c])

In [46]:
df

             race_id  horse_number  ...  five_before_weather  show
0       201945010102           1.0  ...                    1   0.0
1       201945010102           2.0  ...                    1   1.0
2       201945010102           3.0  ...                    1   1.0
3       201945010102           4.0  ...                    1   0.0
4       201945010102           5.0  ...                    1   1.0
...              ...           ...  ...                  ...   ...
407335  202048060911           0.0  ...                    0   0.0
407336  202048060911           0.0  ...                    0   0.0
407337  202048060911           0.0  ...                    0   0.0
407338  202048060911           0.0  ...                    0   0.0
407339  202048060911           0.0  ...                    0   0.0

[407340 rows x 63 columns]

# 学習

## 学習データと検証データに分割

In [21]:
train_df, test_df = train_test_split(df, test_size=53584, shuffle=False)

In [22]:
test_df

             race_id  horse_number  ...  five_before_weather  show
200047  202048031304             2  ...                    3     1
200048  202048031304             8  ...                    3     1
200049  202048031304             1  ...                    1     1
200050  202048031304             9  ...                    5     0
200051  202048031304             5  ...                    3     0
...              ...           ...  ...                  ...   ...
253631  202048060911            10  ...                    3     0
253632  202048060911             1  ...                    3     0
253633  202048060911             4  ...                    3     0
253634  202048060911             9  ...                    4     0
253635  202048060911             8  ...                    4     0

[53584 rows x 63 columns]

In [23]:
X_train = train_df.drop(['race_id', 'show'], axis=1).values
y_train = train_df['show'].values
X_test = test_df.drop(['race_id', 'show'], axis=1).values
y_test = test_df['show'].values

In [24]:
train_race_id_counter = collections.Counter(list(train_df['race_id'].values))
test_race_id_counter = collections.Counter(list(test_df['race_id'].values))
train_query = list(train_race_id_counter.values())
test_query = list(test_race_id_counter.values())

## 正規化

In [25]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [26]:
X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

## モデルの定義

In [27]:
def define_model(input_shape):
  inp = Input(shape=input_shape)
  x = Dense(300, activation='relu')(inp)
  x = Dropout(0.2)(x)
  x = Dense(150, activation='relu')(x)
  x = Dropout(0.2)(x)
  x = Dense(50, activation='relu')(x)
  x = Dropout(0.2)(x)
  x = Dense(1, activation='sigmoid')(x)

  model = Model(inp, x)
  model.compile(optimizer='adam', loss='mean_squared_error')

  return model

## 学習

In [28]:
model = define_model((X_train_sc.shape[1],))

In [29]:
epoch = 50
batch = 4

In [30]:
model.fit(X_train_sc, y_train, epochs=epoch, batch_size=batch)

Epoch 1/50
50002/50002 [==============================] - 100s 2ms/step - loss: 0.1779
Epoch 2/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1755
Epoch 3/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1751
Epoch 4/50
50002/50002 [==============================] - 94s 2ms/step - loss: 0.1751
Epoch 5/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1749
Epoch 6/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1746
Epoch 7/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1745
Epoch 8/50
50002/50002 [==============================] - 96s 2ms/step - loss: 0.1746
Epoch 9/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1746
Epoch 10/50
50002/50002 [==============================] - 92s 2ms/step - loss: 0.1744
Epoch 11/50
50002/50002 [==============================] - 95s 2ms/step - loss: 0.1746
Epoch 12/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1745
Epoch 13/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1747
Epoch 14/50
50002/50002 [==============================] - 92s 2ms/step - loss: 0.1748
Epoch 15/50
50002/50002 [==============================] - 95s 2ms/step - loss: 0.1743
Epoch 16/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1746
Epoch 17/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1747
Epoch 18/50
50002/50002 [==============================] - 93s 2ms/step - loss: 0.1745
Epoch 19/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1749
Epoch 20/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1743
Epoch 21/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1747
Epoch 22/50
50002/50002 [==============================] - 93s 2ms/step - loss: 0.1747
Epoch 23/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1745
Epoch 24/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1745
Epoch 25/50
50002/50002 [==============================] - 96s 2ms/step - loss: 0.1746
Epoch 26/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1744
Epoch 27/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1741
Epoch 28/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1739
Epoch 29/50
50002/50002 [==============================] - 94s 2ms/step - loss: 0.1742
Epoch 30/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1740
Epoch 31/50
50002/50002 [==============================] - 92s 2ms/step - loss: 0.1739
Epoch 32/50
50002/50002 [==============================] - 92s 2ms/step - loss: 0.1736
Epoch 33/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1740
Epoch 34/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1742
Epoch 35/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1745
Epoch 36/50
50002/50002 [==============================] - 94s 2ms/step - loss: 0.1740
Epoch 37/50
50002/50002 [==============================] - 92s 2ms/step - loss: 0.1746
Epoch 38/50
50002/50002 [==============================] - 100s 2ms/step - loss: 0.1748
Epoch 39/50
50002/50002 [==============================] - 97s 2ms/step - loss: 0.1738
Epoch 40/50
50002/50002 [==============================] - 93s 2ms/step - loss: 0.1739
Epoch 41/50
50002/50002 [==============================] - 93s 2ms/step - loss: 0.1742
Epoch 42/50
50002/50002 [==============================] - 91s 2ms/step - loss: 0.1745
Epoch 43/50
50002/50002 [==============================] - 95s 2ms/step - loss: 0.1740
Epoch 44/50
50002/50002 [==============================] - 97s 2ms/step - loss: 0.1739
Epoch 45/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1739
Epoch 46/50
50002/50002 [==============================] - 92s 2ms/step - loss: 0.1747
Epoch 47/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1869
Epoch 48/50
50002/50002 [==============================] - 92s 2ms/step - loss: 0.1738
Epoch 49/50
50002/50002 [==============================] - 90s 2ms/step - loss: 0.1731
Epoch 50/50
50002/50002 [==============================] - 94s 2ms/step - loss: 0.1730

In [31]:
model.save_weights(DATA_PATH + 'param.hdf5')

# 予測

In [32]:
pred = model.predict(X_test_sc)

In [33]:
pred

array([[0.55354965],
       [0.51395077],
       [0.4867122 ],
       ...,
       [0.5785478 ],
       [0.5286216 ],
       [0.20870417]], dtype=float32)

レースごとに予測された確率が最も高い馬が３位以内に入っている確率を算出する。

In [34]:
def calc_prob(predict):
  stack_q = 0
  correct = 0
  for query in test_query:
    ind = np.argmax(predict[stack_q:stack_q+query])
    stack_q += query
    if test_df.iloc[ind]['show'] == 1:
      correct += 1

  print('score is', correct / len(test_query))

In [35]:
calc_prob(pred)

score is 0.6303526448362721

# 考察

## 単純なニューラルネットワークモデル

- 0.6406