<a href="https://colab.research.google.com/github/monda00/horse-race-notebook/blob/master/predict_show_simple_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ３着以内の馬を予測

lightGBMでシンプルなモデルを実装する。

- ライブラリ・データ読み込み
- データ前処理
- 学習
- 予測

# ライブラリ・データ読み込み

In [1]:
import numpy as np
import pandas as pd
import re
import collections

import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
DATA_PATH = '/content/drive/My Drive/data/horse-race/'

In [3]:
df = pd.read_csv(DATA_PATH + 'train.csv')

日付でソートしておく。

後半をtestデータとするため。

In [4]:
df = df.sort_values(by=['race_date', 'race_id', 'rank'])

In [5]:
df.reset_index(inplace=True, drop=True)

In [6]:
df.head()

  age  frame_number  horse_number jockey  ... place  race_round start_time  weather
0  牝7           3.0             3   藤本現暉  ...    川崎          2R      11:50        晴
1  牡7           5.0             5   加藤和博  ...    川崎          2R      11:50        晴
2  牡7           2.0             2   瀧川寿希  ...    川崎          2R      11:50        晴
3  牝7           7.0             8   岡村健司  ...    川崎          2R      11:50        晴
4  牝4           8.0            10   伊藤裕人  ...    川崎          2R      11:50        晴

[5 rows x 20 columns]

In [7]:
len(df)

253636

# データ前処理

- レースが開催されるのは週末のため日付は利用しない
  - 季節に変換
- 時刻は時間帯に変換
- ageは性別（？）と年齢に分割
- 気温は関係ありそうなため後々追加
- レース名はレースの種類に変換した方が良さそうだが後回し
- rankはランキング学習のためにデータをソートしたら削除

開催日から季節を追加し、開催日を削除

In [8]:
season = []
for i in range(len(df)):
  race_date = df.iloc[i]['race_date']
  race_month = int(re.search(r'\/.+?\/', race_date).group().replace('/', ''))
  if 3 <= race_month <= 5:
    season.append('sprint')
  elif 6 <= race_month <= 8:
    season.append('summer')
  elif 9 <= race_month <= 11:
    season.append('autumn')
  else:
    season.append('winter')

In [9]:
df['season'] = season

時刻を時間帯に分ける。
まずは、開催時間の種類を確認。

In [10]:
df['start_time'].value_counts()

13:15    4516
16:10    4410
20:50    4264
12:45    3772
15:45    3764
         ...
09:35      15
15:51      13
13:51      12
20:25      10
14:41      10
Name: start_time, Length: 149, dtype: int64

In [11]:
df.sort_values(by='start_time')

       age  frame_number  horse_number  ... start_time weather  season
49126   牡2           8.0            14  ...      09:35       曇  winter
49129   牡2           6.0            10  ...      09:35       曇  winter
49128   牡2           2.0             2  ...      09:35       曇  winter
49127   牡2           1.0             1  ...      09:35       曇  winter
49132   牡2           7.0            13  ...      09:35       曇  winter
...     ..           ...           ...  ...        ...     ...     ...
205545  牡6           1.0             1  ...      20:55       曇  sprint
205544  牡8           4.0             4  ...      20:55       曇  sprint
205543  牝5           6.0             8  ...      20:55       曇  sprint
131394  牡4           5.0             5  ...      20:55       曇  summer
151974  牝4           2.0             2  ...      20:55       曇  summer

[253636 rows x 21 columns]

時間の値で置き換える

09:55->9  
20:55->20

In [12]:
time_hour = []
for i in range(len(df)):
  start_time = df.iloc[i]['start_time']
  time_hour.append(int(re.search(r'(.*):(.*)', start_time).group(1)))

In [13]:
df['time_hour'] = time_hour

ageを分ける

In [14]:
gen = []
age = []
for i in range(len(df)):
  age_v = df.iloc[i]['age']
  gen.append(re.search(r'(.*)(\d)', age_v).group(1))
  age.append(re.search(r'(.*)(\d)', age_v).group(2))

In [15]:
df['age'] = age
df['gen'] = gen

In [16]:
df

       age  frame_number  horse_number jockey  ... weather  season time_hour  gen
0        7           3.0             3   藤本現暉  ...       晴  winter        11    牝
1        7           5.0             5   加藤和博  ...       晴  winter        11    牡
2        7           2.0             2   瀧川寿希  ...       晴  winter        11    牡
3        7           7.0             8   岡村健司  ...       晴  winter        11    牝
4        4           8.0            10   伊藤裕人  ...       晴  winter        11    牝
...     ..           ...           ...    ...  ...     ...     ...       ...  ...
253631   5           8.0            10   藤原良一  ...       晴  summer        17    牝
253632   6           1.0             1   浅野皓大  ...       晴  summer        17    牝
253633   5           4.0             4   加藤聡一  ...       晴  summer        17    牡
253634   4           8.0             9   友森翔太  ...       晴  summer        17    牝
253635   5           7.0             8   深澤杏花  ...       晴  summer        17    牝

[253636 rows x 23 columns]

In [17]:
for col, values in df.iteritems():
    num_uniques = values.nunique()
    print ('{name}: {num_unique}'.format(name=col, num_unique=num_uniques))

age: 10
frame_number: 8
horse_number: 18
jockey: 450
name: 23752
popular: 18
race_date: 538
race_id: 22630
race_name: 7082
rank: 18
weight: 26
win: 5403
show: 2
clockwise: 11
distance: 54
field_type: 3
place: 24
race_round: 12
start_time: 149
weather: 6
season: 4
time_hour: 12
gen: 6

## Label Encoding

一旦、単純なLabel Encodingをする。

In [18]:
categorical_cols = ['jockey', 'name', 'race_name', 'clockwise', 'field_type', 'place', 'race_round', 'weather', 'season', 'gen']

In [19]:
for c in categorical_cols:
  le = LabelEncoder()
  le.fit(df[c])
  df[c] = le.transform(df[c])

In [20]:
df

       age  frame_number  horse_number  jockey  ...  weather  season time_hour  gen
0        7           3.0             3     380  ...        2       3        11    2
1        7           5.0             5      66  ...        2       3        11    4
2        7           2.0             2     307  ...        2       3        11    4
3        7           7.0             8     179  ...        2       3        11    2
4        4           8.0            10      51  ...        2       3        11    2
...     ..           ...           ...     ...  ...      ...     ...       ...  ...
253631   5           8.0            10     376  ...        2       2        17    2
253632   6           1.0             1     297  ...        2       2        17    2
253633   5           4.0             4      68  ...        2       2        17    4
253634   4           8.0             9      81  ...        2       2        17    2
253635   5           7.0             8     300  ...        2       2        17    2

[253636 rows x 23 columns]

## trainデータとtestデータに分割

In [21]:
train_df, test_df = train_test_split(df, test_size=53624, shuffle=False)

ランキング学習用にクエリデータ作成。

クエリデータは、何行ごとにクエリがまとまっているかを表している。
クエリ（ここではレース）ごとにデータが連続していなければならない。

In [22]:
train_race_id_counter = collections.Counter(list(train_df['race_id'].values))
test_race_id_counter = collections.Counter(list(test_df['race_id'].values))

In [23]:
train_query = list(train_race_id_counter.values())
test_query = list(test_race_id_counter.values())

# ランキング学習

## 目的変数を分離

In [24]:
fea_cols = ['age', 'frame_number', 'horse_number', 'jockey', 'name', 'popular', 'race_id', 'race_name', 'weight',
            'win', 'clockwise', 'distance', 'field_type', 'place', 'race_round', 'weather', 'season', 'time_hour', 'gen']
target_col = ['rank']

In [25]:
X_train = train_df[fea_cols].values
y_train = train_df[target_col].values.reshape(-1)
X_test = test_df[fea_cols].values
y_test = test_df[target_col].values.reshape(-1)

## 学習

In [37]:
lgb_train = lgb.Dataset(X_train, y_train, group=train_query)
lgb_eval = lgb.Dataset(X_test, y_test, group=test_query)

params = {
    'objective': 'lambdarank',
    'metric': 'ndcg',
    'ndcg_eval_at': [1],
    'boosting_type': 'gbdt',
}

num_round = 100

In [38]:
rank_model = lgb.train(
    params,
    lgb_train,
    valid_sets=lgb_eval,
    num_boost_round=num_round,
)

[1]	valid_0's ndcg@1: 0.748951
[2]	valid_0's ndcg@1: 0.741401
[3]	valid_0's ndcg@1: 0.730914
[4]	valid_0's ndcg@1: 0.730914
[5]	valid_0's ndcg@1: 0.730285
[6]	valid_0's ndcg@1: 0.72651
[7]	valid_0's ndcg@1: 0.719799
[8]	valid_0's ndcg@1: 0.719589
[9]	valid_0's ndcg@1: 0.716862
[10]	valid_0's ndcg@1: 0.716023
[11]	valid_0's ndcg@1: 0.715185
[12]	valid_0's ndcg@1: 0.714136
[13]	valid_0's ndcg@1: 0.713926
[14]	valid_0's ndcg@1: 0.713297
[15]	valid_0's ndcg@1: 0.713507
[16]	valid_0's ndcg@1: 0.714136
[17]	valid_0's ndcg@1: 0.712668
[18]	valid_0's ndcg@1: 0.713507
[19]	valid_0's ndcg@1: 0.715394
[20]	valid_0's ndcg@1: 0.714975
[21]	valid_0's ndcg@1: 0.714346
[22]	valid_0's ndcg@1: 0.715185
[23]	valid_0's ndcg@1: 0.714136
[24]	valid_0's ndcg@1: 0.712039
[25]	valid_0's ndcg@1: 0.713087
[26]	valid_0's ndcg@1: 0.712878
[27]	valid_0's ndcg@1: 0.712878
[28]	valid_0's ndcg@1: 0.714136
[29]	valid_0's ndcg@1: 0.714136
[30]	valid_0's ndcg@1: 0.714136
[31]	valid_0's ndcg@1: 0.713507
[32]	valid_0's ndcg@1: 0.713716
[33]	valid_0's ndcg@1: 0.714555
[34]	valid_0's ndcg@1: 0.714975
[35]	valid_0's ndcg@1: 0.713087
[36]	valid_0's ndcg@1: 0.712878
[37]	valid_0's ndcg@1: 0.712878
[38]	valid_0's ndcg@1: 0.712248
[39]	valid_0's ndcg@1: 0.712039
[40]	valid_0's ndcg@1: 0.711829
[41]	valid_0's ndcg@1: 0.711619
[42]	valid_0's ndcg@1: 0.711409
[43]	valid_0's ndcg@1: 0.711619
[44]	valid_0's ndcg@1: 0.711829
[45]	valid_0's ndcg@1: 0.712668
[46]	valid_0's ndcg@1: 0.712458
[47]	valid_0's ndcg@1: 0.712248
[48]	valid_0's ndcg@1: 0.712248
[49]	valid_0's ndcg@1: 0.711829
[50]	valid_0's ndcg@1: 0.712248
[51]	valid_0's ndcg@1: 0.712039
[52]	valid_0's ndcg@1: 0.711829
[53]	valid_0's ndcg@1: 0.711409
[54]	valid_0's ndcg@1: 0.711829
[55]	valid_0's ndcg@1: 0.71078
[56]	valid_0's ndcg@1: 0.710151
[57]	valid_0's ndcg@1: 0.709732
[58]	valid_0's ndcg@1: 0.709732
[59]	valid_0's ndcg@1: 0.709732
[60]	valid_0's ndcg@1: 0.709941
[61]	valid_0's ndcg@1: 0.709941
[62]	valid_0's ndcg@1: 0.71057
[63]	valid_0's ndcg@1: 0.709522
[64]	valid_0's ndcg@1: 0.710151
[65]	valid_0's ndcg@1: 0.709312
[66]	valid_0's ndcg@1: 0.709732
[67]	valid_0's ndcg@1: 0.709941
[68]	valid_0's ndcg@1: 0.710361
[69]	valid_0's ndcg@1: 0.709312
[70]	valid_0's ndcg@1: 0.709102
[71]	valid_0's ndcg@1: 0.709732
[72]	valid_0's ndcg@1: 0.709941
[73]	valid_0's ndcg@1: 0.709941
[74]	valid_0's ndcg@1: 0.71057
[75]	valid_0's ndcg@1: 0.710361
[76]	valid_0's ndcg@1: 0.709941
[77]	valid_0's ndcg@1: 0.709941
[78]	valid_0's ndcg@1: 0.709732
[79]	valid_0's ndcg@1: 0.709312
[80]	valid_0's ndcg@1: 0.709522
[81]	valid_0's ndcg@1: 0.709312
[82]	valid_0's ndcg@1: 0.709102
[83]	valid_0's ndcg@1: 0.709732
[84]	valid_0's ndcg@1: 0.709941
[85]	valid_0's ndcg@1: 0.709941
[86]	valid_0's ndcg@1: 0.709312
[87]	valid_0's ndcg@1: 0.708683
[88]	valid_0's ndcg@1: 0.708893
[89]	valid_0's ndcg@1: 0.709522
[90]	valid_0's ndcg@1: 0.709732
[91]	valid_0's ndcg@1: 0.709522
[92]	valid_0's ndcg@1: 0.709522
[93]	valid_0's ndcg@1: 0.709522
[94]	valid_0's ndcg@1: 0.709732
[95]	valid_0's ndcg@1: 0.709102
[96]	valid_0's ndcg@1: 0.709102
[97]	valid_0's ndcg@1: 0.709522
[98]	valid_0's ndcg@1: 0.709312
[99]	valid_0's ndcg@1: 0.709522
[100]	valid_0's ndcg@1: 0.709102

# 分類問題

## 目的変数を分離

In [28]:
fea_cols = ['age', 'frame_number', 'horse_number', 'jockey', 'name', 'popular', 'race_id', 'race_name', 'weight',
            'win', 'clockwise', 'distance', 'field_type', 'place', 'race_round', 'weather', 'season', 'time_hour', 'gen']
target_col = ['show']

In [29]:
X_train = train_df[fea_cols].values
y_train = train_df[target_col].values.reshape(-1)
X_test = test_df[fea_cols].values
y_test = test_df[target_col].values.reshape(-1)

## 学習

In [30]:
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_test, y_test)

params = {
    'objective': 'binary',
    'metric': 'auc',
    'boosting_type': 'gbdt',
}

num_round = 100

In [31]:
cls_model = lgb.train(
    params,
    lgb_train,
    valid_sets=lgb_eval,
    num_boost_round=num_round,
)

[1]	valid_0's auc: 0.809083
[2]	valid_0's auc: 0.809783
[3]	valid_0's auc: 0.809967
[4]	valid_0's auc: 0.810269
[5]	valid_0's auc: 0.810545
[6]	valid_0's auc: 0.810721
[7]	valid_0's auc: 0.810862
[8]	valid_0's auc: 0.810877
[9]	valid_0's auc: 0.81089
[10]	valid_0's auc: 0.81086
[11]	valid_0's auc: 0.810923
[12]	valid_0's auc: 0.810891
[13]	valid_0's auc: 0.810899
[14]	valid_0's auc: 0.810957
[15]	valid_0's auc: 0.810948
[16]	valid_0's auc: 0.810988
[17]	valid_0's auc: 0.81102
[18]	valid_0's auc: 0.811078
[19]	valid_0's auc: 0.811144
[20]	valid_0's auc: 0.811171
[21]	valid_0's auc: 0.811246
[22]	valid_0's auc: 0.811262
[23]	valid_0's auc: 0.811285
[24]	valid_0's auc: 0.811288
[25]	valid_0's auc: 0.811321
[26]	valid_0's auc: 0.811366
[27]	valid_0's auc: 0.8114
[28]	valid_0's auc: 0.811415
[29]	valid_0's auc: 0.81138
[30]	valid_0's auc: 0.811407
[31]	valid_0's auc: 0.811402
[32]	valid_0's auc: 0.811408
[33]	valid_0's auc: 0.81142
[34]	valid_0's auc: 0.811456
[35]	valid_0's auc: 0.811466
[36]	valid_0's auc: 0.811481
[37]	valid_0's auc: 0.811482
[38]	valid_0's auc: 0.811489
[39]	valid_0's auc: 0.811519
[40]	valid_0's auc: 0.81155
[41]	valid_0's auc: 0.811589
[42]	valid_0's auc: 0.811626
[43]	valid_0's auc: 0.811617
[44]	valid_0's auc: 0.811638
[45]	valid_0's auc: 0.811649
[46]	valid_0's auc: 0.811652
[47]	valid_0's auc: 0.811659
[48]	valid_0's auc: 0.811655
[49]	valid_0's auc: 0.811653
[50]	valid_0's auc: 0.811684
[51]	valid_0's auc: 0.81169
[52]	valid_0's auc: 0.811677
[53]	valid_0's auc: 0.811677
[54]	valid_0's auc: 0.811666
[55]	valid_0's auc: 0.81164
[56]	valid_0's auc: 0.811633
[57]	valid_0's auc: 0.811675
[58]	valid_0's auc: 0.811684
[59]	valid_0's auc: 0.811696
[60]	valid_0's auc: 0.81164
[61]	valid_0's auc: 0.811622
[62]	valid_0's auc: 0.811627
[63]	valid_0's auc: 0.811622
[64]	valid_0's auc: 0.811609
[65]	valid_0's auc: 0.811576
[66]	valid_0's auc: 0.811564
[67]	valid_0's auc: 0.811576
[68]	valid_0's auc: 0.811573
[69]	valid_0's auc: 0.811582
[70]	valid_0's auc: 0.811567
[71]	valid_0's auc: 0.811564
[72]	valid_0's auc: 0.811561
[73]	valid_0's auc: 0.811571
[74]	valid_0's auc: 0.811564
[75]	valid_0's auc: 0.811556
[76]	valid_0's auc: 0.811569
[77]	valid_0's auc: 0.811537
[78]	valid_0's auc: 0.811527
[79]	valid_0's auc: 0.811531
[80]	valid_0's auc: 0.811513
[81]	valid_0's auc: 0.811518
[82]	valid_0's auc: 0.811499
[83]	valid_0's auc: 0.811497
[84]	valid_0's auc: 0.811459
[85]	valid_0's auc: 0.811435
[86]	valid_0's auc: 0.811423
[87]	valid_0's auc: 0.81142
[88]	valid_0's auc: 0.81141
[89]	valid_0's auc: 0.811412
[90]	valid_0's auc: 0.811413
[91]	valid_0's auc: 0.811407
[92]	valid_0's auc: 0.8114
[93]	valid_0's auc: 0.811408
[94]	valid_0's auc: 0.811401
[95]	valid_0's auc: 0.811414
[96]	valid_0's auc: 0.811391
[97]	valid_0's auc: 0.811367
[98]	valid_0's auc: 0.811372
[99]	valid_0's auc: 0.811342
[100]	valid_0's auc: 0.811337

# モデル比較

レースごとに予測された確率が最も高い馬が３位以内に入っている確率を算出する。

In [32]:
def calc_prob(predict):
  stack_q = 0
  correct = 0
  for query in test_query:
    ind = np.argmax(predict[stack_q:stack_q+query])
    stack_q += query
    if test_df.iloc[ind]['show'] == 1:
      correct += 1

  print('score is', correct / len(test_query))

In [39]:
predict_rank = rank_model.predict(X_test)
predict_cls = cls_model.predict(X_test)

In [40]:
calc_prob(predict_rank)
calc_prob(predict_cls)

score is 0.7346895973154363
score is 0.738255033557047

# 結果の考察

- 一番人気を予測しているだけでないか

In [47]:
def calc_prob_most_popular(predict):
  stack_q = 0
  predict_most_pop = 0
  for query in test_query:
    ind_predict = np.argmax(predict[stack_q:stack_q+query])
    ind_pop = np.argmin(test_df.iloc[stack_q:stack_q+query]['popular'])
    stack_q += query
    if ind_predict == ind_pop:
      predict_most_pop += 1

  print('predict most popular prob is', predict_most_pop / len(test_query))

In [48]:
calc_prob_most_popular(predict_rank)
calc_prob_most_popular(predict_cls)

predict most popular prob is 0.8754194630872483
predict most popular prob is 0.8013842281879194

８割が一番人気を予測している。