<a href="https://colab.research.google.com/github/monda00/horse-race-notebook/blob/master/predict_show_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ニューラルネットワークで予測

学習データの作成から予測の考察までやってみる。

特徴量

|分類	|項目 |
|---|---|
|馬情報	|馬番 |
| |枠番 |
| |年齢 |
| |性別 |
| |体重（現在） | 
| |体重（前走との差分） |
| |負担重量 |
| 当日レース情報 |レース場 |
| |出走馬数 |
| |コース距離 |
| |周回方向 |
| |コースタイプ（ダ/芝/障） |
| |天気 |
| |馬場状態 |
| |開始時間帯 |
| |時期 |
|同馬の過去レース情報（×5走分）	|オッズ |
| |人気 |
| |順位 |
| |タイム（秒） |
| |前走からの経過日数 |
| |コース距離 |
| |コースタイプ（ダ/芝/障） |
| |天気 |
| |馬場状態 |

# 概要

- ライブラリ・データ読み込み
- 前処理
- 学習
- 予測
- 考察

## 参考

- [データ収集からディープラーニングまで全て行って競馬の予測をしてみた](https://qiita.com/kami634/items/55e49dad76396d808bf5#%E5%8F%96%E5%BE%97%E3%81%97%E3%81%9Furl%E3%82%92%E3%82%82%E3%81%A8%E3%81%ABhtml%E3%82%92%E5%BE%97%E3%82%8B)
- [競馬の予測をガチでやってみた](http://stockedge.hatenablog.com/entry/2016/01/03/103428)
- [ディープラーニングさえあれば、競馬で回収率100%を超えられる](https://qiita.com/yossymura/items/334a8f3ef85bff081913)
- [競馬予想AIを作る 〜ニューラルネットワークによる相対評価データセットの取り扱い例〜](https://cocon-corporation.com/cocontoco/horseraceprediction_ai/)

# ライブラリ・データ読み込み

In [14]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [15]:
DATA_PATH = '/content/drive/My Drive/data/horse-race/'

In [16]:
df = pd.read_csv(DATA_PATH + 'train_nn.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
df.head()

        race_id  horse_number  ...  five_before_field_condition  five_before_weather
0  201945010102             3  ...                            0                    0
1  201945010102             5  ...                            0                    0
2  201945010102             2  ...                            0                    0
3  201945010102             8  ...                            0                    0
4  201945010102            10  ...                            0                    0

[5 rows x 62 columns]

# 前処理

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253636 entries, 0 to 253635
Data columns (total 62 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   race_id                       253636 non-null  int64
 1   horse_number                  253636 non-null  int64
 2   frame_number                  253636 non-null  float64
 3   age                           253636 non-null  int64
 4   gen                           253636 non-null  object
 5   weight                        253636 non-null  object
 6   weight_diff                   253636 non-null  object
 7   burden_weight                 253636 non-null  float64
 8   place                         253636 non-null  object
 9   race_horse_number             253636 non-null  int64
 10  distance                      253636 non-null  int64
 11  clockwise                     253636 non-null  object
 12  field_type                    253636 non-null  object
 13  field_condition               253636 non-null  object
 14  weather                       253636 non-null  object
 15  time_hour                     253636 non-null  int64
 16  season                        253636 non-null  object
 17  one_before_odd                253636 non-null  float64
 18  one_before_popular            253636 non-null  float64
 19  one_before_rank               253636 non-null  int64
 20  one_before_time               253636 non-null  object
 21  one_before_elapsed_day        253636 non-null  int64
 22  one_before_distance           253636 non-null  int64
 23  one_before_field_type         253636 non-null  object
 24  one_before_field_condition    253636 non-null  object
 25  one_before_weather            253636 non-null  object
 26  two_before_odd                253636 non-null  float64
 27  two_before_popular            253636 non-null  float64
 28  two_before_rank               253636 non-null  int64
 29  two_before_time               253636 non-null  object
 30  two_before_elapsed_day        253636 non-null  int64
 31  two_before_distance           253636 non-null  int64
 32  two_before_field_type         253636 non-null  object
 33  two_before_field_condition    253636 non-null  object
 34  two_before_weather            253636 non-null  object
 35  three_before_odd              253636 non-null  float64
 36  three_before_popular          253636 non-null  float64
 37  three_before_rank             253636 non-null  int64
 38  three_before_time             253636 non-null  object
 39  three_before_elapsed_day      253636 non-null  int64
 40  three_before_distance         253636 non-null  int64
 41  three_before_field_type       253636 non-null  object
 42  three_before_field_condition  253636 non-null  object
 43  three_before_weather          253636 non-null  object
 44  four_before_odd               253636 non-null  float64
 45  four_before_popular           253636 non-null  float64
 46  four_before_rank              253636 non-null  int64
 47  four_before_time              253636 non-null  object
 48  four_before_elapsed_day       253636 non-null  int64
 49  four_before_distance          253636 non-null  int64
 50  four_before_field_type        253636 non-null  object
 51  four_before_field_condition   253636 non-null  object
 52  four_before_weather           253636 non-null  object
 53  five_before_odd               253636 non-null  float64
 54  five_before_popular           253636 non-null  float64
 55  five_before_rank              253636 non-null  int64
 56  five_before_time              253636 non-null  object
 57  five_before_elapsed_day       253636 non-null  int64
 58  five_before_distance          253636 non-null  int64
 59  five_before_field_type        253636 non-null  object
 60  five_before_field_condition   253636 non-null  object
 61  five_before_weather           253636 non-null  object
dtypes: float64(12), int64(21), object(29)
memory usage: 120.0+ MB

欠損値はなし

In [20]:
df.isnull().sum().sum()

0

過去レースの情報がない馬も結構いるかもしれない。

23752個のデータで過去レースの情報がない。
数値と文字列の0が混在している。

In [21]:
past_race_columns_base = ['odd', 'popular', 'rank', 'time', 'elapsed_day', 'distance', 'field_type', 'field_condition', 'weather']
past_race_columns = []
for n in past_race_num:
  for c in past_race_columns_base:
    past_race_columns.append('{}_before_{}'.format(n, c))

In [27]:
len(df[df['one_before_odd'] == 0])

23752

In [32]:
len(df[df['one_before_weather'] == '0'])

23752

Label Encoding